{% extends "::application.html.twig" %}

{% block title %}Accueil{% endblock %}
    {% block body %}
        <div id="page-content">
            <div id='wrap'>
                <div id="page-heading" class="hidden-print">
                    <ol class="breadcrumb">
                        <li class="active">Accueil</li>
                    </ol>
                    <h1>Bienvenue</h1>
                </div>
        {% if "@poste.isima.fr" in app.user.email %}
                        <div class="alert alert-dismissable alert-danger">
                            <strong>Attention :</strong> Vous utilisez une adresse email @poste.isima.fr, pensez à la <strong><a href="{{ path('user_edit_profile', { 'id' : app.user.id }) }}" title="Edition du profil">changer</a></strong>. Cette adresse sera obsolète quand vous ne serez plus dans l'école !
                        </div>
                    {% endif %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="panel panel-primary">
                              <div class="panel-heading">
                                <h4>Bienvenue</h4>
                              </div>
                            <div class="panel-body">
                                <p>
                                    {{ welcomeText | raw}}

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            <h4>Prochains évènements</h4>
                              {% if is_granted("ROLE_ADMIN") %}
                                  <div align="right"><a class="btn btn-primary" href={{ path('admin_admin_user_events_list') }}><i class="fa fa-gear"></i></a></div>
                              {% endif %}
                        </div>
                        <div class="panel-body">
                            {% for event in events %}
                                {{ event.date|date("d/m/Y") }} :
                                {% if event.link|length != 0 %}<a href="{{ event.link }}"> {% endif %}
                                    {{ event.title }}, {{ event.place }}, {{ event.date|date("H\\hi") }}
                                {% if event.link|length != 0 %}</a>{% endif %}
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hidden-print">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-orange" href="{{ path('application_annuaire_homepage') }}">
                                <div class="tiles-heading">Membres</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-group"></i>
                                    <div class="text-center">{{ users }}</div>
                                    <small>Elèves et Anciens</small>
                                </div>
                            </a>
                        </div>
                        {#<div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-toyo" href="{{ path('offre_homepage') }}">
                                <div class="tiles-heading">Annonces</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-bullhorn"></i>
                                    <div class="text-center">{{ offers }}</div>
                                    <small>Jobs, Stages, Logements, ...</small>
                                </div>
                            </a>
                        </div>#}
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-toyo" href="#">
                                <div class="tiles-heading">Annonces</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-bullhorn"></i>
                                    <div class="text-center"><i class="fa fa-code"></i></div>
                                    <small>Fonctionnalité à venir !</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-success" href="#">
                                <div class="tiles-heading">Récrées</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-video-camera"></i>
                                    <div class="text-center"><i class="fa fa-code"></i></div>
                                    <small>Fonctionnalité à venir !</small>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-alizarin" href="#">
                                <div class="tiles-heading">Photos</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-camera"></i>
                                    <div class="text-center"><i class="fa fa-code"></i></div>
                                    <small>Fonctionnalité à venir !</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div> <!--wrap -->
</div> <!-- page-content -->
{% endblock %}
