{% extends "::application.html.twig" %} 

{% block title %}Nouveau message{% endblock %}
    {% block body %}

        <div id="page-content">
          <div id='wrap'>
            <div id="page-heading">
              <ol class="breadcrumb">
                <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
                <li><a href="#" title="Yearbook">Yearbook</a></li>
                <li class="active">Nouveau</li>
            </ol>
        </div>
        <div class="container">

            <div class="panel panel-midnightblue">
                <div class="panel-heading">
                  <h4>Laisser un message à {{ surname }} {{ name }}</h4>
              </div>
              <div class="form-horizontal panel-body collapse in">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.message, "Message", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.message, { 'attr' : { 'class' : 'form-control', 'rows': '10' } }) }}
                        </div>
                        <div class="col-md-3 has-error">
                            <p class="help-block">{{ form_errors(form.message)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_errors(form) }}
                        {{ form_rest(form) }}

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="text-center">
                                <div class="btn-toolbar">
                                    <button class="btn-primary btn">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>

    </div>

</div>
<!--wrap -->
</div>
<!-- page-content -->
{% endblock %}