{% extends "::application.html.twig" %} 

{% block title %}{{ user.surname }} {{ user.name }}{% endblock %}
    {% block body %}
        <div id="page-content">
            <div id='wrap'>
                <div id="page-heading">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
                        <li>Profil</li>
                        <li class="active">{{ user.surname }} {{ user.name }}</li>
                    </ol>

                    <h1>Profil</h1>
                </div>
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-midnightblue">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-6">
                                            {% if user.avatar is empty %}
                                                <img src="{{ asset(app.user.avatar.defaultWebPath) }}" alt="{{ user.username }}" title="{{ user.username }}" class="pull-left" style="margin: 0 20px 20px 0; height: 100px;"/>
                                                {% else %}
                                                <img src="{{ asset(user.avatar.webPath) }}" alt="{{ user.username }}" title="{{ user.username }}" class="pull-left" style="margin: 0 20px 20px 0; height: 100px;"/>
                                            {% endif %}
                                            <div class="table-responsive">
                                                <table class="table table-condensed">
                                                    <h3><strong>{{ user.surname }} {{ user.name }} </strong></h3>
                                                    {% set promotionActivated = get_promotion_activated() %}
                                                    {% if user.promotion == promotionActivated and user.id != app.user.id %}
                                                    <p style="text-align: center;"><a href="{{ path("application_yearbook_newmessage", { "id" : user.id }) }}"><i class="fa fa-pencil"></i> Écrire sur le Yearbook</a></p>
                                                    {% endif %}
                                            <!-- <thead>
                                                <tr>
                                                    <th width="50%"></th>
                                                    <th width="50%"></th>
                                                </tr>
                                            </thead> -->
                                            <tbody>
                                                {% if user.promotion is not empty and user.promotion != "" %}
                                                <tr>
                                                    <td>Promotion</td>
                                                    <td>{{ user.promotion }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if user.filiere is not empty and user.filiere != "" %}
                                                <tr>
                                                    <td>Filière</td>
                                                    <td>{{ user.filiere }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if user.nickname is not empty and user.nickname != "" %}
                                                <tr>
                                                    <td>Surnom</td>
                                                    <td>{{ user.nickname }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if user.website is not empty and user.website != "" %}
                                                <tr>
                                                    <td>Web</td>
                                                    {% if ( app.user.isCotisant ) or ( app.user.id == user.id ) %}
                                                        <td><a href="{% if "http://" not in user.website %}http://{% endif %}{{ user.website }}" target="_blank">{{ user.website }}</a></td>
                                                        {% else %}
                                                        <td><a data-toggle="modal" href="#cotisationNeeded">Inaccessible</a></td>
                                                        {% endif %}
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                    <td>Email</td>
                                                    {% if ( app.user.isCotisant ) or ( app.user.id == user.id ) %}
                                                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                                                    {% else %}
                                                    <td><a data-toggle="modal" href="#cotisationNeeded">Inaccessible</a></td>
                                                    {% endif %}
                                                </tr>
                                                {% if user.telephone is not empty and user.telephone != "" %}
                                                <tr>
                                                    <td>Téléphone</td>
                                                    {% if ( app.user.isCotisant ) or ( app.user.id == user.id ) %}
                                                    <td>{{ user.telephone }}</td>
                                                    {% else %}
                                                    <td><a data-toggle="modal" href="#cotisationNeeded">Inaccessible</a></td>
                                                    {% endif %}
                                                </tr>
                                                {% endif %}
                                                {% if user.getLastCareer is not empty and user.getLastCareer != '' %}
                                                <tr>
                                                    <td>Poste</td>
                                                    <td>{{ user.getLastCareer|split(',')[0]|raw }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if user.getLastCareer is not empty and user.getLastCareer != '' %}
                                                <tr>
                                                    <td>Établissement</td>
                                                    <td>{{ user.getLastCareer|split(',')[1]|raw }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if user.city is not empty and user.city != "" %}
                                                <tr>
                                                    <td>Ville</td>
                                                    <td>{{ user.city }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if user.postalcode is not empty and user.postalcode != "" %}
                                                <tr>
                                                    <td>Code postal</td>
                                                    <td>{{ user.postalcode }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if user.socialFacebook is not empty or user.socialTwitter is not empty or user.socialLinkedin is not empty or user.socialGoogle is not empty or user.socialYoutube is not empty or user.socialInstagram is not empty %}
                                                    <tr>
                                                        <td>Social</td>
                                                        <td>
                                                            {% if user.socialFacebook is not empty %}
                                                                {% if ( app.user.isCotisant ) or ( app.user.id == user.id ) %}
                                                                    <a href="{% if "http://" not in user.socialFacebook and "https://" not in user.socialFacebook %}http://{% endif %}{{ user.socialFacebook }}" class="btn btn-xs" target="_blank"><i class="fa fa-facebook"></i></a>
                                                                    {% else %}
                                                                    <a data-toggle="modal" href="#cotisationNeeded" class="btn btn-xs" target="_blank"><i class="fa fa-facebook"></i></a>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if user.socialTwitter is not empty %}
                                                                {% if ( app.user.isCotisant ) or ( app.user.id == user.id ) %}
                                                                    <a href="{% if "http://" not in user.socialTwitter and "https://" not in user.socialTwitter %}http://{% endif %}{{ user.socialTwitter }}" class="btn btn-xs" target="_blank"><i class="fa fa-twitter"></i></a>
                                                                    {% else %}
                                                                    <a data-toggle="modal" href="#cotisationNeeded" class="btn btn-xs" target="_blank"><i class="fa fa-twitter"></i></a>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if user.socialLinkedin is not empty %}
                                                                {% if ( app.user.isCotisant ) or ( app.user.id == user.id ) %}
                                                                    <a href="{% if "http://" not in user.socialLinkedin and "https://" not in user.socialLinkedin %}http://{% endif %}{{ user.socialLinkedin }}" class="btn btn-xs" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                                    {% else %}
                                                                    <a data-toggle="modal" href="#cotisationNeeded" class="btn btn-xs" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if user.socialGoogle is not empty %}
                                                                {% if ( app.user.socialGoogle ) or ( app.user.id == user.id ) %}
                                                                    <a href="{% if "http://" not in user.socialGoogle and "https://" not in user.socialGoogle %}http://{% endif %}{{ user.socialGoogle }}" class="btn btn-xs" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                                    {% else %}
                                                                    <a data-toggle="modal" href="#cotisationNeeded" class="btn btn-xs" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if user.socialYoutube is not empty %}
                                                                {% if ( app.user.isCotisant ) or ( app.user.id == user.id ) %}
                                                                    <a href="{% if "http://" not in user.socialYoutube and "https://" not in user.socialYoutube %}http://{% endif %}{{ user.socialYoutube }}" class="btn btn-xs" target="_blank"><i class="fa fa-youtube"></i></a>
                                                                    {% else %}
                                                                    <a data-toggle="modal" href="#cotisationNeeded" class="btn btn-xs" target="_blank"><i class="fa fa-youtube"></i></a>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if user.socialInstagram is not empty %}
                                                                {% if ( app.user.isCotisant ) or ( app.user.id == user.id ) %}
                                                                    <a href="{% if "http://" not in user.socialInstagram and "https://" not in user.socialInstagram %}http://{% endif %}{{ user.socialInstagram }}" class="btn btn-xs" target="_blank"><i class="fa fa-instagram"></i></a>
                                                                    {% else %}
                                                                    <a data-toggle="modal" href="#cotisationNeeded" class="btn btn-xs" target="_blank"><i class="fa fa-instagram"></i></a>
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>À propos</h3>
                                    <p>
                                        {{ user.biography }}
                                    </p>
                                </div>
                            </div>
                            <hr>
                            {% if careers is defined %}
                            {% if careers is not empty %}
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-container tab-success">
                                        <ul class="nav nav-tabs">
                                {% set lastCareerType = '' %}
                                {% set topbar = '' %}
                                {% set nbIteration = 0 %}
                                {% for career in careers %}
                                    {% if lastCareerType != career.typeCareer.id %}
                                        {% set lastCareerType = career.typeCareer.id %}
                                            {% if nbIteration == 0 %}
                                                {% set topbar = topbar ~ '<li class="active"><a href="#' ~ career.typeCareer.id ~ '" data-toggle="tab">Parcours ' ~ career.typeCareer.name ~ '</a></li>' %}
                                                {% set nbIteration = nbIteration + 1 %}
                                            {% else %}
                                                {% set topbar = topbar ~ '<li><a href="#' ~ career.typeCareer.id ~ '" data-toggle="tab">Parcours ' ~ career.typeCareer.name ~ '</a></li>' %}
                                            {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {{ topbar|raw }}
                                </ul>
                                <div class="tab-content">
                                {% set lastCareerType = '' %}
                                {% set content = '' %}
                                {% set nbIteration = 0 %}
                                {% set nbColor = 0 %}
                                {% for career in careers %}
                                    {% set nbColor = nbColor + 1 %}
                                    {% if lastCareerType != career.typeCareer.id %}
                                        {% if nbIteration == 0 %}
                                            <div class="tab-pane active clearfix" id="{{career.typeCareer.id}}">
                                        {% else %}
                                            </div>
                                            <div class="tab-pane clearfix" id="{{career.typeCareer.id}}">
                                        {% endif %}
                                        {% set nbIteration = nbIteration + 1 %}
                                        {% set lastCareerType = career.typeCareer.id %}
                                    {% endif %}
                                    <div class="col-md-12">
                                                    <h4 class="timeline-month"><span>{{ career.date|date('m') }}</span> <span>{{ career.date|date('Y') }}</span></h4>
                                                    <ul class="timeline">
                                                        <li class="timeline-{% if nbColor is divisible by(2) %}orange{% else %}success{% endif %}">
                                                            <div class="timeline-icon"><i class="fa fa-group"></i></div>
                                                            <div class="timeline-body">
                                                                <div class="timeline-header">
                                                                    <span class="date"><strong>{{ career.institution }}</strong> - {{ career.localisation }}</span>
                                                                </div>
                                                                <div class="timeline-content">
                                                                    <h3>{{ career.position }}</h3>
                                                                    <p>{{ career.description }}</p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div> 
{% if not app.user.isCotisant %}
    <div class="modal fade" id="cotisationNeeded" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cotisation requise</h4>
                </div>
                <div class="modal-body">
                    <h4>Information</h4>
                    <p>Il est nécessaire de <strong><a href="{{ path('application_cotisation_homepage') }}" title="Cotisation">cotiser</a></strong> pour accéder à cette information.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}